.container{
    max-width: 500px; /*largura máx de um elemento, evitando que o width seja maior que o valor do max-width*/
    margin: 30px auto; /*define a área de margem nos quatro lados do elemento, 30px lados e auto dos lados para ficar centralizado.*/
    overflow: auto; /*especifica quando o conteúdo de um elemento de nível de bloco deve ser cortado, exibido com barras de rolagem ou se transborda do elemento, Exibe barras de rolagem apenas se necessário */
    min-height: 300px; /*É usado para definir a altura mínima de um determinado elemento*/
    border: 2px solid chartreuse; /*Define as bordas do Container*/
    padding: 30px; /*Define uma a distância entre o conteúdo de um elemento e suas bordas*/
    border-radius: 10px; /*Permite definir como bordas arredondadas são*/

}